EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# For the dev SkipQ Supabase project use:
# EXPO_PUBLIC_SUPABASE_URL=https://ndltjcixftltysqhsrnv.supabase.co
# EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7uVn41-ByA9qE67ivzoJFQ_glgo9Iud
